.header_style {
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(to right, rgb(85, 152, 164), rgb(75, 112, 119), rgb(85, 152, 164));
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 2px;
}
h1 {
  color: yellow;
  text-shadow: 2px 2px black;
  font-size: 48px;
  letter-spacing: 8px;
  text-align: center;
  margin-bottom: 0px;
}
.comicon {
  color: yellow;
}
.FLI,
h3 {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 18px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
  border-bottom: 1px solid white;
}
.LLC {
  background-image: linear-gradient(to right, rgb(85, 152, 164), rgb(75, 112, 119), rgb(85, 152, 164));
}
@media screen and (max-width: 500px) {
  h1 {
    color: yellow;
    text-shadow: 2px 2px black;
    font-size: 38px;
    letter-spacing: 5px;
    text-align: center;
  }
}
@media screen and (max-width: 345px) {
  h1 {
    color: yellow;
    text-shadow: 2px 2px black;
    font-size: 32px;
    letter-spacing: 3px;
    text-align: center;
  }
}
